<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <!--^ 2025 sadaļa -->
  <p class="col-12 col-md-4 mb-0 text-body-secondary text-center text-md-start">© 2025 Grannies LV</p>

  <!--^ Sociālie tīkli -->
  <div class="col-12 col-md-4 d-flex align-items-center justify-content-center text-center mt-md-3">
    <ul class="list-unstyled d-flex justify-content-center flex-wrap">
      <li class="m-2 mt-4">
        <img src="../assets/images/youtube.svg" alt="YouTube" style="width: 30px; height: 30px;">
      </li>
      <li class="m-2 mt-4" style="display: none;">
        <img src="../assets/images/instagram.svg" alt="Instagram" style="width: 30px; height: 30px;">
      </li>
      <li class="m-2 mt-4">
        <img src="../assets/images/facebook-mid.svg" alt="Facebook" style="width: 30px; height: 30px;">
      </li>
    </ul>
  </div>

  <!--^ Links sadaļa -->
  <ul class="nav col-12 col-md-4 justify-content-center text-center text-md-end footer-nav">
    <li class="nav-item"><a href="/index.html" class="nav-link px-2 text-body-secondary">
        Sākumlapa</a></li>
    <li class="nav-item"><a href="../pages/about-us.html" class="nav-link px-2 text-body-secondary">
        Par mums</a></li>
    <li class="nav-item"><a href="../pages/topicality.html" class="nav-link px-2 text-body-secondary">
        Aktualitātes</a>
    </li>
    <li class="nav-item"><a href="../pages/projects.html" class="nav-link px-2 text-body-secondary">
        Projekti</a></li>
    <li class="nav-item"><a href="../pages/involved.html" class="nav-link px-2 text-body-secondary">
        Vēlos iestāties</a>
    </li>
    <li class="nav-item"><a href="../pages/recommend.html" class="nav-link px-2 text-body-secondary">
        Iesakām</a></li>
    <li class="nav-item"><a class="nav-link px-2 text-body-secondary"
        href="https://www.facebook.com/groups/1164997355016807" target="_blank">
        Galerija</a></li>
    <li class="nav-item"><a href="../pages/privacyPolicy.html" class="nav-link px-2 text-body-secondary">
        Privātuma politika</a></li>
  </ul>

  <div id="scroll-to-top">⇡</div> <!-- ↑⇧⏏︎△▲⬆️  -->
</footer>
<p class="made-by text-center">Izstrādāja <a href="https://eamon9.github.io/CapstoneProject2/" target="_blank">Imants
    B.</a></p>