<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <!-- 2025 sadaļa -->
  <p class="col-12 col-md-4 mb-0 text-body-secondary text-center text-md-start">© 2025 Grannies LV</p>

  <!-- Sociālie tīkli -->
  <div class="col-12 col-md-4 d-flex align-items-center justify-content-center text-center mt-md-3">
    <ul class="list-unstyled d-flex justify-content-center flex-wrap">
      <li class="m-2 mt-4">
        <img src="./assets/images/youtube.svg" alt="YouTube" style="width: 30px; height: 30px;">
      </li>
      <li class="m-2 mt-4">
        <img src="./assets/images/instagram.svg" alt="Instagram" style="width: 30px; height: 30px;">
      </li>
      <li class="m-2 mt-4">
        <img src="./assets/images/facebook-mid.svg" alt="Facebook" style="width: 30px; height: 30px;">
      </li>
    </ul>
  </div>

  <!-- Links sadaļa -->
  <ul class="nav col-12 col-md-4 justify-content-center text-center text-md-end">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"
        onclick="loadContent('./pages/main.html')">Sākumlapa</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"
        onclick="loadContent('./pages/about-us.html')">Par mums</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"
        onclick="loadContent('./pages/activities.html')">Aktivitātes</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"
        onclick="loadContent('./pages/useful.html')">Noderīgi</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"
        onclick="loadContent('./pages/involved.html')">Vēlos iestāties</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" href="https://www.facebook.com"
        target="_blank">Galerija</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"
        onclick="loadContent('./pages/resource-repository.html')">Resursu krātuve</a></li>
  </ul>
</footer>