<header class="border-bottom">

  <div id="mainLOGO" class="px-4 my-2">
    <a href="/index.html">
      <img class="d-block mx-auto" src="../assets/images/granniesLogo.png" alt="grannies logo" width="200" height="200">
    </a>

  </div>

  <!--^ Saziņai, Rakstiet, Sekojiet -->
  <!-- <div class="container" id="contact-section">
    <div class="row row-cols-md-1 row-cols-md-3 g-4 pt-4">

      <div class="col d-flex align-items-start justify-content-lg-start justify-content-xl-center">
        <img class="me-2 w-auto" src="../assets/images/whatsapp.svg" alt="WhatsAppLogo">
        <div>
          <h3 class="fw-bold mb-0 fs-5 text-body-emphasis nav-link">Saziņai</h3>
          <p>Ināra Pučuka<br>
            <a href="tel:+37129789703" style="text-decoration: none;"> +37129789703</a>
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start justify-content-lg-start justify-content-xl-center">
        <a target="_blank" href="mailto:grannies@inbox.lv"><img class="me-2 w-auto" src="../assets/images/envelope.svg"
            alt="MailLogo"></a>
        <div>
          <h3 class="fw-bold mb-0 fs-5 text-body-emphasis nav-link"><a
              class="fw-bold mb-0 fs-5 text-body-emphasis nav-link" style="text-decoration: none;" target="_blank"
              href="mailto:grannies@inbox.lv">Rakstiet</a></h3>
          <p><a target="_blank" href="mailto:grannies@inbox.lv" style="text-decoration: none;">grannies@inbox.lv</a></p>
        </div>
      </div>

      <div class="col d-flex align-items-start justify-content-lg-start justify-content-xl-center">
        <img class="me-2" src="../assets/images/facebook-big.svg" alt="SocialLogo">
        <div class="dropdown">
          <h3 class="fw-bold mb-0 fs-5 text-body-emphasis nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Sekojiet</h3>
          <ul class="dropdown-menu" id="dropdownMenu">
            <li><a class="dropdown-item" href="https://www.facebook.com/groups/1164997355016807"
                target="_blank">Facebook</a></li>
            <li style="display: none;"><a class="dropdown-item" href="https://www.instagram.com"
                target="_blank">Instagram</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com" target="_blank">Youtube</a></li>
          </ul>
          <p>Sociālie tīkli</p>
        </div>
      </div>

    </div>
  </div> -->

  <!--^ Sākumlapa, Par mums, Aktualitātes, Projekti, Vēlos iesaistīties, Galerija, Resursu krātuve -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Twelfth navbar example">
    <div class="container-fluid">

      <div class="navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
          <!--* Sākumlapa -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" aria-current="page" href="/index.html" data-bs-toggle="dropdown"
              aria-expanded="false">Sākumlapa</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/index.html#welcome">Laipni lūgti</a>
              </li>
            </ul>
          </li>

          <!--* Par mums -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../pages/about-us.html" data-bs-toggle="dropdown"
              aria-expanded="false">Par
              mums</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="../pages/about-us.html#members">
                  Mēs</a></li>
              <li><a class="dropdown-item" href="../pages/about-us.html#statute">
                  Statūti</a></li>
              <li><a class="dropdown-item" href="../pages/about-us.html#accreditation">
                  Akreditācija</a></li>
              <li><a class="dropdown-item" href="../pages/about-us.html#supporters">
                  Atbalstītāji un Sadarbības partneri</a></li>
              <li><a class="dropdown-item" href="../pages/about-us.html#contacts">
                  Kontakti</a></li>
            </ul>
          </li>

          <!--* Aktualitātes -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../pages/topicality.html" data-bs-toggle="dropdown"
              aria-expanded="false">Aktualitātes</a>
            <ul class="dropdown-menu">

              <li><a class="dropdown-item" href="../pages/topicality.html#university">
                  Trešās paaudzes universitāte</a></li>

              <li><a class="dropdown-item" href="../pages/topicality.html#events">
                  Notikumi</a></li>

            </ul>
          </li>

          <!--* Projekti -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../pages/projects.html" data-bs-toggle="dropdown"
              aria-expanded="false">Projekti</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="../pages/projects.html#current">Aktuālie</a></li>
              <li><a class="dropdown-item" href="../pages/projects.html#realized">Realizētie</a>
              </li>
            </ul>
          </li>

          <!--* Vēlos iesaistīties -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../pages/involved.html" data-bs-toggle="dropdown"
              aria-expanded="false">Vēlos
              iesaistīties</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="../pages/involved.html#howToApply">Kā pieteikties?</a></li>
              <li><a class="dropdown-item" href="../pages/involved.html#university">Trešās paaudzes universitāte</a>
              <li><a class="dropdown-item" href="../pages/involved.html#donate" style="display: none;">Ziedo</a>
              </li>
            </ul>
          </li>

          <!--* Iesakām -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../pages/recommend.html" data-bs-toggle="dropdown"
              aria-expanded="false">Iesakām</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="../pages/recommend.html#check">Ieskaties</a>
              </li>
            </ul>
          </li>

          <!--* Galerija -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Galerija</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="../assets/documents/kalendars.pdf" target="_blank">Kalendārs</a></li>
              <li><a class="dropdown-item" href="https://www.facebook.com/groups/1164997355016807"
                  target="_blank">Facebook</a></li>
              <li style="display: none;"><a class="dropdown-item" href="https://www.instagram.com"
                  target="_blank">Instagram</a></li>
              <li><a class="dropdown-item" href="https://www.youtube.com" target="_blank">Youtube</a></li>
            </ul>
          </li>

          <!--* Privātuma politika -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../pages/privacyPolicy.html" data-bs-toggle="dropdown"
              aria-expanded="false">Privātuma politika</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="../pages/privacyPolicy.html#pr">Politikas</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>