body {
  background-color: #ffffff;
  font-size: 18px;
}

body p {
  font-size: 20px;
}

i {
  font-weight: 400;
}

.nav-item {
  font-family: "PT Serif", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  font-size: 3rem;
}

.vecmaminas-span {
  background-color: #dc8a256d;
  color: aliceblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: fantasy;
}

h1 {
  text-align: center;
}

.nav-link.active {
  /* color: #f3969a !important; */
  color: #96f3a4 !important;
}

.nav-link:hover {
  color: #f3969a !important;
}

.col-12 {
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .col-sm-4 {
    justify-content: flex-start;
    align-items: start;
  }
}

.modal-xxl {
  --bs-modal-width: 60%;
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2px 10px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  height: 60px;
  width: 60px;
}

#scroll-to-top:hover {
  cursor: pointer;
}

/*~ CHAT POP UP */

#chat-pop-up {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 80px;
  right: 0px;
  background-color: rgb(247, 137, 83);
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-height: 80vh;
  max-width: 100%;
  transition: all 0.8s ease;
}

#chat-pop-up.hidden #icon1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#chat-pop-up.hidden {
  height: 60px;
  width: 60px;
}

#chat-pop-up.active {
  height: auto; /* Augstums pielāgojas pēc satura */
  padding: 20px;
}

#chat-pop-up .icon {
  cursor: pointer;
  margin-bottom: 15px;
  display: block;
  transition: transform 0.3s ease;
}

#chat-pop-up .icon:hover {
  transform: scale(1.1); /* Lielāks izmērs, kad peles rādītājs uzliek uz ikonas */
}

#chat-pop-up .icon-text {
  display: flex;
  flex-direction: column; /* Ikona un teksts izkārtoti vertikāli */
  align-items: flex-start; /* Pielāgo tekstus sākotnējiem elementiem */
  opacity: 0;
  transition: opacity 0.3s ease;
}

#chat-pop-up.active .icon-text {
  opacity: 1; /* Teksts kļūst redzams, kad izvēlne ir aktīva */
}

#chat-pop-up .icon:first-child {
  margin-top: 0; /* Pirmajai ikonai nebūs augšējā attāluma */
}

/* Paslēpt citas ikonas sākumā */
#chat-pop-up .additional-icons {
  display: none;
}

/* Parādīt citas ikonas, kad chat-pop-up ir aktīvs */
#chat-pop-up.active .additional-icons {
  display: block;
}

#chat-pop-up .icon:first-child {
  display: block;
}

.icon {
  display: flex;
  align-items: center; /* Izvietojiet visus elementus horizontāli */
  gap: 10px; /* Attālums starp ikonām un tekstu */
}

.icon-container {
  display: flex;
  align-items: center; /* Ikona un teksts būs blakus */
}

.icon-container h3 {
  margin-left: 10px; /* Attālums starp ikonu un tekstu */
}

/*! CUSTOM IMG */

@media (max-width: 768px) {
  .custom-img {
    max-width: 100%;
    height: auto;
    float: none;
    margin: 0 auto;
    display: block;
  }
}

.cropped-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.cropped-down-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: bottom;
}

.accordion-button {
  font-size: 1.5rem;
}

/* Contact section */

#contact-section {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 1.5s ease, max-height 1.5s ease, visibility 0s linear 0.5s;
}

#mainLOGO:hover + #contact-section,
#contact-section:hover {
  opacity: 1;
  max-height: 500px;
  visibility: visible;
  transition: opacity 0.5s ease, max-height 2.5s ease, visibility 0s linear 0s;
}

/* Main IMG scroll to first h1 element */

.main-img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Author */

.made-by {
  font-size: 12px;
  color: #777;
}
.made-by a {
  text-decoration: none;
  color: #777;
}
.made-by a:hover {
  color: #555;
}
