body {
  background-color: #ffffff;
  font-size: 18px;
}

body p {
  font-size: 20px;
}

i {
  font-weight: 400;
}

.nav-item {
  font-family: "PT Serif", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  font-size: 3rem;
}

.vecmaminas-span {
  background-color: #dc8a256d;
  color: aliceblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: fantasy;
}

h1 {
  text-align: center;
}

.nav-link.active {
  /* color: #f3969a !important; */
  color: #96f3a4 !important;
}

.nav-link:hover {
  color: #f3969a !important;
}

.col-12 {
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .col-sm-4 {
    justify-content: flex-start;
    align-items: start;
  }
}

.modal-xxl {
  --bs-modal-width: 60%;
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.554);
  color: white;
  padding: 2px 10px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  height: 60px;
  width: 60px;
}

#scroll-to-top:hover {
  cursor: pointer;
}

#scroll-to-top:hover svg path {
  fill: rgb(247, 137, 83);
}

/*~ CHAT POP UP */

#chat-pop-up {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 70px;
  right: 0px;
  background-color: rgb(247, 137, 83);
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  height: 350px;
  width: 200px;
  transition: all 1s ease-out;
}

/* sākotnējais izmērs */
#chat-pop-up.hidden {
  width: 60px;
  height: 60px;
  padding-top: 13px;
  transition: height 0.5s ease, width 0.5s ease, bottom 0.5s ease;
}

/* Pāreja līdz 350px augstumā un pēc tam 200px platumā */
#chat-pop-up.active {
  animation: popUpAnimation 3s ease-out;
  transition: all 1s ease-out;
}

@keyframes popUpAnimation {
  0% {
    width: 60px;
    height: 60px;
  }
  25% {
    width: 60px;
    height: 350px;
  }
  50% {
    width: 200px;
    height: 350px;
  }
  75% {
    width: 200px;
    height: 350px;
  }
  100% {
    width: 200px;
    height: 350px;
  }
}

/* Parādīt citas ikonas tikai pēc animācijas beigām */
#chat-pop-up.active .additional-icons {
  display: block;
  animation: iconAppear 1s ease-out 1.5s backwards;
}

@keyframes iconAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#chat-pop-up .icon {
  cursor: pointer;
  margin-bottom: 15px;
  display: block;
  transition: transform 0.3s ease;
}

#chat-pop-up .icon:hover {
  transform: scale(1.1);
}

#chat-pop-up .additional-icons {
  display: none;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container h3 {
  margin-left: 10px;
}


/*! CUSTOM IMG */

@media (max-width: 768px) {
  .custom-img {
    max-width: 100%;
    height: auto;
    float: none;
    margin: 0 auto;
    display: block;
  }
}

.cropped-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.cropped-down-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: bottom;
}

.accordion-button {
  font-size: 1.5rem;
}

/* Author */
.made-by #pro, .made-by #proA {
  font-size: 18px;
}

.made-by {
  font-size: 12px;
  color: #777;
  margin-bottom: 20px;
}
.made-by a {
  text-decoration: none;
  color: #777;
}
.made-by a:hover {
  color: white;
  background-color: #777;
  padding: 20px;
  border-radius: 20px;
}

